<a href="https://colab.research.google.com/github/hlpvy/24_DS/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Python?

Python is a programming language known for its readability and versatility. It is widely used in various fields such as:

- Web Development
- Data Analysis
- Artificial Intelligence
- Scientific Computing
- Game Development
- and more

## Features of Python

- **Readability**: Python has a clean syntax that makes it easy to read and write code.
- **Versatility**: Python is used in various fields.
- **Community Support**: A large and active community contributes to a rich set of libraries and frameworks.
- **Cross-Platform**: Python is available and can run on various operating systems like Windows, Linux, and macOS.

# Python Basics

## Function & Data

```
print("Hello world!")
```

In [ ]:
print("Hello world!")

Hello world!

## Variable

```
a = "Hello world!"
print(a)
```

In [ ]:
a = "Hello world!"
print(a)

# print() : 함수의 형태

Hello world!

## Data Type: int, float

* Creating Numbers
```
a = 1
b = 3.14
```

* Arithmetic Operations
```
10 + 2
10 - 2
10 * 2
10 / 2
10 ** 2
```

In [ ]:
a = 1
b = 3.14

In [ ]:
a = 3
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)            #not always 정수,
print(a ** b) #mũ

5
1
6
1.5
9

In [ ]:
a="hello"

In [ ]:
a = 1
b = 3.14

10 + 2
10 - 2
10 * 2
10 / 2
10 ** 2

## Data Type: list

* Creating Lists
```
a = [1, 2, 3, 4, 5]
```

* Accessing Items
```
b = a[0]
c = a[1:3]
```

* Modifying Items
```
a[1] = 20
```

* Appending & Removing Items
```
a.append(6)
a.pop(2)
```

* Combining Lists
```
a = [1, 2, 3]
b = [4, 5]
c = a + b
```

In [ ]:
a = [0, 1, 2, 3, 4, "xy"]       #mix số và chữ cũng dc, ko cần luôn là số
#             -3 -2  -1

In [ ]:
b = a[0]
c = a[1:3]
#d = a[:3]; d = a[1:]

print(b)
print(c)

0
[20, 2]

In [ ]:
e=a[-1]
print(e)

print(a[-4:-1]) #khum phải -1:-4 đâu
print(a[1:-1]) # nghĩa là from 1 to last

xy
[2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a[1] = 20

print(a)

[0, 20, 2, 3, 4, 'xy']

In [ ]:
a.append(6) #thêm 6 vào đuôi
a.pop(3)    #pop đi vị trí 3

print(a)

[1, 2, 3, 'Vy', 6]

In [ ]:
a = [1, 2, 3]
b = [4, 5]
c = a + b

## Data Type: string

* Creating Strings
```
a = "Hello world!"
```

* Accessing Characters
```
b = a[0]
c = a[1:3]
```

* Combining Strings
```
a = "Hello "
b = "world!"
c = a + b
```

In [ ]:
a = "Hello world!"

In [ ]:
b = a[0]
c = a[1:3]

In [ ]:
a = "Hello "
b = "world!"
c = a + b

## Data Type: dictionary

* Creating Dictionaries
```
a = { "name": "Danielle", "age" : 25, "city": "Newcastle" }
```

* Accessing Values
```
b = a["name"]
```

* Modifying Values
```
a["age"] = 19
```

* Adding & Removing Key-Value Pairs
```
a["country"] = "Australia"
del a["city"]
```

In [ ]:
a = { "name": "Danielle", "age" : 25, "city": "Newcastle" }

In [ ]:
b = a["name"]

In [ ]:
a["age"] = 19

In [ ]:
a["country"] = "Australia"
del a["city"]



---

1. Windows, MacOS: 이름은 운영체제/**Opering System**.
=> python: 호환성

2. Space -> google colab
3. instruction -> code



---

# Python Basics (2)

## Data Type: boolean

* Creating Boolean Values
```python
a = True
b = False
```

* Comparison
```python
a == b
a != b
```

* Logical Operation
```python
a and b
a or b
not a
```

## Control Flow: if, elif, else

* Syntax
```python
if condition:
    # execute this block of code
elif another_condition:
    # execute this block of code
else:
    # if none of the above conditions are true, execute this block
```

## Control Flow: for

* Syntax
```python
for item in sequence:
    # execute this block of code for each item in the sequence
```

## Control Flow: while

* Syntax
```python
while condition:
    # execute this block of code as long as the condition is true
```

In [ ]:
a=[1,2,3,4]

for i in a:
  print(i)
  break

1

In [ ]:
a=[1,2,3,4]

for i in a:
  if i != 3:
    print(i)
  else:
    break

1
2

## Iterating Over Lists

* Iterating Over Lists
```python
for item in my_list:
    print(item)
```

* List Comprehensions
```python
new_list = [x + 1 for x in range(5)]
```

In [ ]:
a=[1,2,3,4,...10]

In [ ]:
range(4) #parameters!!!
#input: start(x),stop ....range(start, stop, step). >< stop qtrong, kh start:=0, kh step:=1

range(0, 4)

In [ ]:
#정의하는 부분
def add(x,y):
  return x+y

#실행하는 부분
b=add(1,2)
print(b)

3

## Iterating Over Dictionaries

* Iterating Over Dictionaries
```python
for key, value in my_dict.items():
    print(key, value)
```

* Dictionary Comprehensions
```python
new_dict = {x: x + 1 for x in range(5)}
```

## Function

* Syntax

```python
def function_name(parameters):
    # block of code
    return result
```

* Scope

```python
x = 10

def my_function():
    y = 5
    print(x)  # This will print 10 (global variable)
    print(y)  # This will print 5 (local variable)

my_function()
print(y)  # This will cause an error
```



---

# String Formatting & File Handling

## String Formatting

* f-string

```python
language = "python"
sentence = f"Hello, welcome to {language} programming!"
print(sentence)
```

## Reading From Files

* read()

```python
with open("sample.txt", "r") as file:
  content = file.read()
```

* readline()

```python
with open("sample.txt", "r") as file:
  line = file.readline()
```

* readlines()

```python
with open("sample.txt", "r") as file:
  lines = file.readlines()
  
  for line in lines:
    print(line)
```

## Writing To Files

* write()

```python
with open("sample.txt", "w") as file:
  file.write("Hello world!")
```

* append

```python
with open("sample.txt", "a") as file:
  file.write("Hello python!")
```

* newline

```python
with open("sample.txt", "w") as file:
  file.write("Hello world!\n")
  file.write("Hello python!")
```



---

# Package

## Python Standard Library

* examples

```python
import random

print(random.randint(1, 9))
```

```python
import math

print(math.sqrt(16))
print(math.pi)
```

In [ ]:
import random
# : random.randint(start,stop)
print(random.randint(1,9)) #từ 1->9, not 1-8

9

In [ ]:
#external library
#thử python trên terminal
import numpy

In [ ]:
a = 16



#package
import math #phải import math ms dc (16:16)
a=16
b=math.sqrt(a)
print(b)

c=math.pi
print(c)

4.0
3.141592653589793

## Numpy

* numpy array

```python
import numpy as np

a = np.array([1, 2, 3])
```

* element-wise calculations

```python
b = a + 2
c = a - 2
d = a * 2
e = a / 2
f = a ** 2
```

* basic functions

```python
b = np.sum(a)
c = np.mean(a)
d = np.min(a)
e = np.max(a)
```

* multi-dimensional array

```python
a = np.array([[1, 2], [3, 4], [5, 6]])

b = a[0, 1]
```

* axis

```python
b = np.mean(a, axis=0)
c = np.mean(a, axis=1)
```

* real-world data as numpy array

```python
# image
from PIL import Image

a = Image.open("cat.jpg")
b = np.array(a)
```

```python
# audio
import librosa

a, sr = librosa.load("hi.mp3")
```

In [ ]:
import numpy as np

# numpy array != list !!!!

a = np.array([1,2,3])
print(a)


#array = list

[1 2 3]

In [ ]:
a=[1,2,3]
b=[3,4,5,6]

print(a+b)

[1, 2, 3, 3, 4, 5, 6]

In [ ]:
#numpy array:
import numpy as np

a=np.array([1,2,3])
b=np.array([3,4,5])

print(a+b)

[4 6 8]

In [ ]:
# [1,2,3,4,5]
print(a[1:-1]) #nay la gi v?

[2]

In [ ]:
b=np.array([4,5,6]) #3D phai cung la 3D
c=a+b
print(c)

#=> kqua numpy la cong vector, kqua list bthg la show tat ca cac bien cua 2 lists/.

[5 7 9]

In [ ]:
#b=[1,2,3,4,5]
#c=[x+1 for x in b]
#print(c)

import numpy as np
b=[1,2,3,4,5]
c=[]
for i in b:
  c.append(i+1)
print(c)

[2, 3, 4, 5, 6]

In [ ]:
a=np.array([1,2,3,4,5])
print(a+1) #thay vi d=np.array([1,1,1,1,1]) xong roi a+d

[2 3 4 5 6]

In [ ]:
b = np.sum(a)
c = np.mean(a)
d = np.min(a)
e = np.max(a)
print(b,c,d,e)

15 3.0 1 5

In [ ]:
#ap dung cua matrix: tra thong tin theo column, row별

In [ ]:
a = np.array([[1, 2], [3, 4], [5, 6]])
print(a)

print(a.shape) #=> 3doc x 2ngang

b = a[1, 1]
print(b)

[[1 2]
 [3 4]
 [5 6]]
(3, 2)
4

In [ ]:
np.mean(a)

b = np.mean(a, axis=0)
c = np.mean(a, axis=1)

#ra

print(b)
print(c)

[3. 4.]
[1.5 3.5 5.5]

In [ ]:
a = np.array(
    [[1,2],
     [3,4],
     [5,6]]
)
print(a)
     [3,4]]]
)

In [ ]:
def x(w,y):
  print(w+y)

In [ ]:
len([1,2,3,4,5]) #chi tinh len duoc cho 1차원
#len([1,2,3,4,5],[2,3,4,5,6]): sai, vi 2차원 kh tinh length duoc


np.shape([1,2,3,4,5])

z=np.array([[1,2,3,4,5],[2,3,4,5,6]])
print(z.shape) #oooooooh

(2, 5)

tuple: 수정할 수 없는 list
(5,) nghia la 5ngang 1doc?

In [ ]:
#axis
b = np.mean(a, axis=0)
c = np.mean(a, axis=1)
real-world data as numpy array
# image
from PIL import Image

a = Image.open("cat.jpg")
b = np.array(a)
# audio
import librosa

a, sr = librosa.load("hi.mp3")

In [ ]:
a = np.array(
    [[1,2],
     [3,4]])
print(a[0,0])

1

In [ ]:
from PIL import Image # Change 'image' to 'Image'

a = Image.open("cat.jpg")
b = np.array(a)



---

# Pandas

## Basics

* DataFrame

```python
import pandas as pd

a = pd.read_csv("weather.csv")
b = pd.DataFrame([{"Column1": "A", "Column2": 1000}, {"Column1": "B", "Column2": 300}])
```

* Accessing Values

```python
# Column
b = a["Temperature"]
d = a[["Humidity", "City"]]

# Row
e = a.loc[0]
f = a.loc[1:2]

# Specific value
g = a.loc[0, "Temperature"]
h = a.loc[1:2, ["Humidity", "City"]]
```

* Adding Values

```python
a.loc[5] = { "Temperature": 19, "Humidity": 28, "City": "Seoul" }
```

* Deleting Values

```python
# Column
a = a.drop("Temperature", axis=1)

# Row
a = a.drop(5, axis=0)
```

* Basic Operations

```python
a.Quantity + 2
a.Quantity > 60
```

In [ ]:
import pandas as pd
weather_df = pd.read_csv("weather.csv") #dataframe

In [ ]:
print(weather_df)

   Temperature  Humidity         City
0         22.2        30     New York
1         20.0        50  Los Angeles
2         18.3        45      Chicago
3         23.9        35      Houston
4         21.1        40      Phoenix

In [ ]:
#weather_df.loc[0]
#weather_df["Temperature"]

In [ ]:
#nen nghe 31p vi so sanh

#LIST:
a[0] #[1,2,3]

#numpy array
a[1,2]  #2차원

#pandas
a[0,"temp"]

In [ ]:
#weather_df.loc[0,"temp"]

## Grouping

* value_counts()

```python
a.Category.value_counts()
```

* groupby()

```python
a.groupby("Category").mean(numeric_only=True)
```

## Filtering & Sorting

* Filtering

```python
a[a.Quantity > 60]
```

* Sorting

```python
a.sort_values(by="Category")
```

## Plotting

* Line Plot

```python
import matplotlib.pyplot as plt

a.plot(x="Price", y="Quantity", kind="line")
plt.show()
```

* Scatter Plot

```python
a.plot(x="Price", y="Quantity", kind="scatter")
plt.show()
```

* Bar Plot

```python
a.plot(x="City", y="Humidity", kind="bar")
plt.show()
```

* Pie Chart

```python
a = pd.DataFrame([{"Category": "A", "Sales": 1000},
  {"Category": "B", "Sales": 300},
  {"Category": "C", "Sales": 450},
  {"Category": "D", "Sales": 100}])

a.plot(y="Sales", kind="pie", labels=a.Category)
plt.show()
```



---

# Appendix: List, Numpy, Pandas

## Index

* List

```python
a[0]
a[1:4]
```

* Numpy

```python
a[0, 2]
a[1:3, 2:4]
```

* Pandas

```python
a.loc[0]
a["Temperature"]
a.loc[1:2, ["Temperature", "Humidity"]]
```

## Add

* List

```python
a.append(3)
```

* Pandas

```python
a.loc[5] = {"Temperature": 19, "Humidity": 28, "City": "Seoul"}
```

## Revise

```python
a[수정할 데이터의 위치] = 새로운 데이터
```

## Delete

* list

```python
a.pop()
```

* pandas

```python
a = a.drop(5, axis=0)
a = a.drop("Temperature", axis=1)
```